<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 70px;
        }
    </style>
    <title>Курс</title>
</head>
<body>
<div th:replace="general :: page-header"></div>
<div class="indent">
    <h3>Приглашения</h3>
    <table class="table table-bordered table-warning">
        <thead class="thead-dark">
        <tr>
            <th class="col-5" scope="col"> ФИО</th>
            <th class="col-1" scope="col"> Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${empty_invites}">
            <td colspan="6">Нет отправленных приглашений</td>
        </tr>
        <tr th:each="teacher : ${invites}">
            <td class="col-5">
                <a th:href="'/teacher?teacher_id=' + ${teacher.getTeacher_id()}">
                    <span th:text="${teacher.getFullName()}"> </span>
                </a>
            </td>
            <td class="col-1">
                <a th:href="'/company/fire?from=home&teacher_id=' + ${teacher.getTeacher_id()}">
                    <button type="button" class="btn btn-secondary" >Отменить приглашение</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>Преподаватели</h3>
    <table class="table table-bordered table-warning">
        <thead class="thead-dark">
        <tr>
            <th class="col-5" scope="col"> ФИО</th>
            <th class="col-1" scope="col"> Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${empty_teacher}">
            <td colspan="6"> Преподаватели не найдены </td>
        </tr>
        <tr th:each="teacher : ${teachers}">
            <td class="col-5">
                <a th:href="'/teacher?teacher_id=' + ${teacher.getTeacher_id()}">
                    <span th:text="${teacher.getFullName()}"> </span>
                </a>
            </td>
            <td class="col-1">
                <a th:href="'/company/fire?from=home&teacher_id=' + ${teacher.getTeacher_id()}">
                    <button type="button" class="btn btn-danger" >Уволить</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div th:replace="general :: site-footer"></div>
<div th:replace="general :: site-script"></div>
</body>