<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 70px;
        }
    </style>
    <title>Курс</title>
</head>
<body>
<div th:replace="general :: page-header"></div>
<div class="indent">

    <div class="row no-gutters">
        <div class="col-sm"><h1><span th:text="${course.getCourse_name()}"></h1></div>
        <div class="col-sm"><p class="text-right">
        </p></div>
        <div class="col-sm"><p class="text-right">
            <span th:if="${can_unenroll}"><a th:href="'/student/unenroll?from=course&course_id=' + ${course.getCourse_id()}"><button type="button" class="btn btn-danger" >Отписаться</button></a></span>
            <span th:if="${can_unenroll}"><a th:href="'/lessons?course_id=' + ${course.getCourse_id()}"><button type="button" class="btn btn-primary" >К занятиям</button></a></span>
            <span th:if="${can_enroll}"><a th:href="'/student/enroll?course_id=' + ${course.getCourse_id()}"><button type="button" class="btn btn-success" >Записаться</button></a></span>
            <span th:if="${company_manage}"><a th:href="'/company/manage?course_id=' + ${course.getCourse_id()}"><button type="button" class="btn btn-warning" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                    <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                </svg>
                Управлять
            </button></a></span>
            <span th:if="${teacher_manage}"><a th:href="'/teacher/manage?course_id=' + ${course.getCourse_id()}"><button type="button" class="btn btn-warning" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                    <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                </svg>
                Управлять
            </button></a></span>
            <span th:if="${to_lessons}"><a th:href="'/lessons?course_id=' + ${course.getCourse_id()}"><button type="button" class="btn btn-primary">К занятиям</button></a></span>
        </p></div>
    </div>

    <br>
    Компания: <a th:href="'/company?company_id=' + ${company.getCompany_id()}"><span th:text="${company.getCompany_name()}"> </span></a>
    <br>
    <b>Дата начала:</b> <p th:text="${course.getDate_from()}"></p>
    <b>Дата окончания:</b> <p th:text="${course.getDate_till()}"></p>
    <h3>Описание</h3>
    <p th:text="${course.getDescription()}"></p>
    <h3>Преподаватели</h3>
    <table class="table table-bordered table-warning">
        <thead class="thead-dark">
        <tr>
            <th scope="col"> ФИО</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${empty_teacher}">
            <td colspan="6"> Преподаватели не найдены </td>
        </tr>
        <tr th:each="teacher : ${teachers}">
            <td>
                <a th:href="'/teacher?teacher_id=' + ${teacher.getTeacher_id()}">
                    <span th:text="${teacher.getFullName()}"> </span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div th:replace="general :: site-footer"></div>
<div th:replace="general :: site-script"></div>
</body>