<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 70px;
        }
    </style>
    <title>Курс</title>
</head>
<body>
<div th:replace="general :: page-header"></div>
<div class="indent">
    <h3><span th:text="${course.getCourse_name()}"></span></h3>
    <table class="table table-bordered table-warning">
        <thead class="thead-dark">
        <tr>
            <th class="col-5" scope="col"> Описание</th>
            <th class="col-3" scope="col"> Учитель</th>
            <th class="col-3" scope="col"> Время</th>
            <th class="col-1" scope="col"> Оценка</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${empty_lessons}">
            <td colspan="12">Нет занятий</td>
        </tr>
        <tr th:each="lesson : ${lessons}">
            <td class="col-5">
                <span th:text="${lesson.getDescription()}"> </span>
            </td>
            <td class="col-3">
                <span th:text="${lesson.getTeacher().getFullName()}"> </span>
            </td>
            <td class="col-3">
                <span th:text="${lesson.getTime_from()} + ' - ' + ${lesson.getTime_till()}"> </span>
            </td>
            <td>
                <!--        <span th:if="${scores.get(lesson.getLesson_id()).equals(null)}">н</span>-->
                <!--        <span th:if="${!scores.get(lesson.getLesson_id()).equals(null)}"><span th:text="${scores.get(lesson.getLesson_id())}"></span></span>-->
                <a th:href="'/lesson?lesson_id=' + ${lesson.getLesson_id()}"><button th:disabled="${lesson.getTeacher().getTeacher_id() != teacher_id}" class="btn btn-primary">К уроку</button></a>

            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="general :: site-footer"></div>
<div th:replace="general :: site-script"></div>
</body>